/** site.js 
 * You should add your CSS code to this file.  
 * See the assignment description in Guide for what
 * your code needs to accomplish.
 */


h1{
  color:purple;
  border: 5px solid whitesmoke;
}

h2{
  color:purple;
}

HTML{
  background-color:lightgray;
}

.open-button{
  display: none;
}

input {
  margin: 1%;
}

/* this rule is modified from the lab: */
@media (max-width: 550px) {
.display-box > div {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkgray;
}
  .display-box  {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .open-button{
  display: inline;
  float: right;
  }
  
  .a{
    display: none;
  }
  
  .a.active{
    display: inline;
  }
  
}


